/****** navbar ******/
nav #logo img {
    width: 100px;
    transition: transform 0.1s;
}

nav #logo img:hover {
    transform: scale(1.03);
}

nav a {
    display: inline-block;
    padding: 0px 20px;
}

/****** generic effects ******/
button[disabled] span.glyphicon, button[disabled]:hover span.glyphicon {
    opacity: 0.25;
}

img.animate-show {
    transition:all linear 0.5s;
    display: block !important;
}

img.animate-show.ng-hide {
    display: block !important;
    opacity: 0;
}

/****** videos ******/
.video_container {
    width: 70%;
    margin: auto;
}

.video_container video {
    width: 100%;
}

div.video_layer {
	position: absolute;
	display: block;
	z-index: 50;
	top: 0;
}

.video_layer {
    display: block;
    position: absolute;
    z-index: 50;
    top: 0;
	width: 150px;
	height: auto;
	padding-left: 20px;
	padding-top: 20px;
	opacity: 0.5;
}

videogular vg-subtitles {
    display: table-cell;
    width: 50px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

videogular vg-subtitles a,
videogular vg-subtitles a:hover,
videogular vg-subtitles a:visited {
    color: white;
    text-decoration: none;
}

videogular vg-subtitles .selected {
    color: #337ab7;
}

/****** admin panel ******/
.checkbox_list .form-control {
    height: auto;
    max-height: 200px;
    overflow-y: auto;
}

.edit_buttons{
    padding-left: 10px;
}

/****** ui-grid ******/
.grid_wrapper{
    height: auto;
    max-height: 500px;
    overflow-y: auto;
}

.ui-grid {
    height: initial !important;
}

.ui-grid-native-scrollbar {
    display: None !important;
}

.ui-grid-render-container {
    margin-bottom: 10px !important;
}

/****** footer ******/
html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px;
    padding-bottom: 50px;
}

footer, .push {
    height: 155px;
}

footer {
    padding-top: 30px;
    color: white;
    text-align: center;
}

/****** BOOTSTRAP OVERRIDING ******/
.navbar {
    border-radius: 0px;
}

.navbar-inverse {
    background-color: #252525;
}

.navbar-nav>li>a {
    transition: color 0.2s;
}

div.col-sm-10 {
    padding-left: 0px;
    padding-right: 0px;
}
