{{define "title"}}[[ 'ADMIN_TITLE' | translate ]]{{end}}
{{define "body"}}
    <h1>[[ 'ADMIN_TITLE' | translate ]]</h1>
    
    <div class="container">
        
        <ul class="nav nav-pills nav-stacked col-md-2">
            <li class="active"><a href="#tab_users" data-toggle="pill">[[ 'ADMIN_USERS_TAB' | translate ]]</a></li>
            <li><a href="#tab_invitations" data-toggle="pill">[[ 'ADMIN_INVITATIONS_TAB' | translate ]]</a></li>
            <li><a href="#tab_groups" data-toggle="pill">[[ 'ADMIN_GROUPS_TAB' | translate ]]</a></li>
            <li><a href="#tab_videos" data-toggle="pill">[[ 'ADMIN_VIDEOS_TAB' | translate ]]</a></li>
            <li><a href="#tab_video_groups" data-toggle="pill">[[ 'ADMIN_VIDEO_GROUPS_TAB' | translate ]]</a></li>
            <li><a href="#tab_permissions" data-toggle="pill">[[ 'ADMIN_PERMISSIONS_TAB' | translate ]]</a></li>
        </ul>
        
<!-- --------------------------------------------------------------- -->
        
        <div class="tab-content col-md-10">
            <div class="tab-pane active" id="tab_users">
                
                <h2>[[ 'ADMIN_USERS_TAB' | translate ]]</h2>

                <div class="alert alert-dismissible" role="alert" id="users_alert">
                    <button type="button" class="close" data-hide="alert"><span aria-hidden="true">&times;</span><span class="sr-only">[[ 'CLOSE' | translate]]</span></button>
                    <span class="alert_content"></span>
                </div>

                <table class="table" data-table="users">
                    <thead>
                        <tr>
                            <th>[[ 'ID' | translate]]</th>
                            <th>[[ 'LOGIN' | translate]]</th>
                            <th>[[ 'PASSWORD' | translate]]</th>
                            <th/>
                        </tr>
                    </thead>
                    <tbody>
                    {{range .Users}}
                        <tr>
                            <td>{{ .id }}</td>
                            <td role="data" data-id="{{ .id }}" data-table="users" data-original-value="{{ .login }}" data-field="login" contenteditable="true">{{ .login }}</td>
                            <td data-id="{{ .id }}" data-table="users" data-field="password">
                                <button class="btn btn-warning" role="reset_password">[[ 'RESET' | translate ]]</button>
                            </td>
                            <td>
                                <button type="submit" class="save_row btn-link" data-table="users" data-id="{{ .id }}">
                                    <span class="glyphicon glyphicon-ok-sign"></span>
                                </button>
                                <button type="submit" class="reset_row btn-link" data-table="users" data-id="{{ .id }}">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                </button>
                                <button type="submit" class="del_row btn-link" data-table="users" data-id="{{ .id }}">
                                    <span class="glyphicon glyphicon-minus-sign"></span>
                                </button>
                            </td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
                <button type="submit" class="add_row btn-link" data-table="users">
                    <span class="glyphicon glyphicon-plus-sign"></span>
                </button>
            </div>
        
<!-- --------------------------------------------------------------- -->

            <div class="tab-pane" id="tab_invitations">
                
                <h2>[[ 'ADMIN_INVITATIONS_TAB' | translate]]</h2>

                <div class="alert alert-dismissible" role="alert" id="invitations_alert">
                    <button type="button" class="close" data-hide="alert"><span aria-hidden="true">&times;</span><span class="sr-only">[[ 'CLOSE' | translate]]</span></button>
                    <span class="alert_content"></span>
                </div>

                <table class="table" data-table="invitations">
                    <thead>
                        <tr>
                            <th>[[ 'ID' | translate]]</th>
                            <th>[[ 'VALUE' | translate]]</th>
                            <th/>
                        </tr>
                    </thead>
                    <tbody>
                    {{range .Invitations}}
                        <tr>
                            <td>{{ .id }}</td>
                            <td role="data"  data-id="{{ .id }}" data-table="invitations" data-original-value="{{ .value }}" data-field="value" contenteditable="true">{{ .value }}</td>
                            <td>
                                <button type="submit" class="save_row btn-link" data-table="invitations" data-id="{{ .id }}">
                                    <span class="glyphicon glyphicon-ok-sign"></span>
                                </button>
                                <button type="submit" class="reset_row btn-link" data-table="invitations" data-id="{{ .id }}">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                </button>
                                <button type="submit" class="del_row btn-link" data-table="invitations" data-id="{{ .id }}">
                                    <span class="glyphicon glyphicon-minus-sign"></span>
                                </button>
                            </td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
                <button type="submit" class="add_row btn-link" data-table="invitations"><span class="glyphicon glyphicon-plus-sign"></span></button>

            </div>
        
<!-- --------------------------------------------------------------- -->

            <div class="tab-pane" id="tab_groups">
                
                <h2>[[ 'ADMIN_GROUPS_TAB' | translate]]</h2>

                <div class="alert alert-dismissible" role="alert" id="groups_alert">
                    <button type="button" class="close" data-hide="alert"><span aria-hidden="true">&times;</span><span class="sr-only">[[ 'CLOSE' | translate]]</span></button>
                    <span class="alert_content"></span>
                </div>

                <table class="table" data-table="groups">
                    <thead>
                        <tr>
                            <th>[[ 'ID' | translate]]</th>
                            <th>[[ 'NAME' | translate]]</th>
                            <th/>
                        </tr>
                    </thead>
                    <tbody>
                    {{range .Groups}}
                        <tr>
                            <td>{{ .id }}</td>
                            <td role="data" data-id="{{ .id }}" data-table="groups" data-original-value="{{ .title }}" data-field="title" contenteditable="true">{{ .title }}</td>
                            <td>
                                <button type="submit" class="save_row btn-link" data-table="groups" data-id="{{ .id }}">
                                    <span class="glyphicon glyphicon-ok-sign"></span>
                                </button>
                                <button type="submit" class="reset_row btn-link" data-table="groups" data-id="{{ .id }}">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                </button>
                                <button type="submit" class="del_row btn-link" data-table="groups" data-id="{{ .id }}">
                                    <span class="glyphicon glyphicon-minus-sign"></span>
                                </button>
                            </td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
                <button type="submit" class="add_row btn-link" data-table="groups"><span class="glyphicon glyphicon-plus-sign"></span></button>

            </div>
        
<!-- --------------------------------------------------------------- -->

            <div class="tab-pane" id="tab_videos">
                
                <h2>[[ 'ADMIN_VIDEOS_TAB' | translate]]</h2>
                
                <div class="alert alert-dismissible" role="alert" id="videos_alert">
                    <button type="button" class="close" data-hide="alert"><span aria-hidden="true">&times;</span><span class="sr-only">[[ 'CLOSE' | translate]]</span></button>
                    <span class="alert_content"></span>
                </div>
                
                <table class="table" data-table="videos">
                    <thead>
                        <tr>
                            <th>[[ 'ID' | translate]]</th>
                            <th>[[ 'TITLE' | translate]]</th>
                            <th>[[ 'PATH' | translate]]</th>
                            <th>[[ 'SLUG' | translate]]</th>
                            <th>[[ 'URL' | translate]]</th>
                            <th/>
                        </tr>
                    </thead>
                    <tbody>
                    {{range .Videos}}
                        <tr>
                            <td>{{ .id }}</td>
                            <td role="data" data-id="{{ .id }}" data-table="videos" data-original-value="{{ .title }}" data-field="title" contenteditable="true">{{ .title }}</td>
                            <td role="data" data-id="{{ .id }}" data-table="videos" data-original-value="{{ .path }}" data-field="path" contenteditable="true">{{ .path }}</td>
                            <td role="data" data-id="{{ .id }}" data-table="videos" data-original-value="{{ .slug }}" data-field="slug" contenteditable="true">{{ .slug }}</td>
                            <td data-field="url" data-id="{{ .id }}" data-table="videos"><a href="/videos/watch/{{ .slug }}">/videos/watch/{{ .slug }}</a></td>
                            <td>
                                <button type="submit" class="save_row btn-link" data-table="videos" data-id="{{ .id }}">
                                    <span class="glyphicon glyphicon-ok-sign"></span>
                                </button>
                                <button type="submit" class="reset_row btn-link" data-table="videos" data-id="{{ .id }}">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                </button>
                                <button type="submit" class="del_row btn-link" data-table="videos" data-id="{{ .id }}">
                                    <span class="glyphicon glyphicon-minus-sign"></span>
                                </button>
                            </td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
                <button type="submit" class="add_row btn-link" data-table="videos"><span class="glyphicon glyphicon-plus-sign"></span></button>

            </div>
            
<!-- --------------------------------------------------------------- -->

            <div class="tab-pane" id="tab_video_groups">
                
                <h2>[[ 'ADMIN_VIDEO_GROUPS_TAB' | translate]]</h2>

                <div class="alert alert-dismissible" role="alert" id="video_groups_alert">
                    <button type="button" class="close" data-hide="alert"><span aria-hidden="true">&times;</span><span class="sr-only">[[ 'CLOSE' | translate]]</span></button>
                    <span class="alert_content"></span>
                </div>

                <table class="table" data-table="video_groups">
                    <thead>
                        <tr>
                            <th>[[ 'ID' | translate]]</th>
                            <th>[[ 'NAME' | translate]]</th>
                            <th/>
                        </tr>
                    </thead>
                    <tbody>
                    {{range .VideoGroups}}
                        <tr>
                            <td>{{ .id }}</td>
                            <td role="data"  data-id="{{ .id }}" data-table="video_groups" data-original-value="{{ .title }}" data-field="title" contenteditable="true">{{ .title }}</td>
                            <td>
                                <button type="submit" class="save_row btn-link" data-table="video_groups" data-id="{{ .id }}">
                                    <span class="glyphicon glyphicon-ok-sign"></span>
                                </button>
                                <button type="submit" class="reset_row btn-link" data-table="video_groups" data-id="{{ .id }}">
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                </button>
                                <button type="submit" class="del_row btn-link" data-table="video_groups" data-id="{{ .id }}">
                                    <span class="glyphicon glyphicon-minus-sign"></span>
                                </button>
                            </td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
                <button type="submit" class="add_row btn-link" data-table="video_groups"><span class="glyphicon glyphicon-plus-sign"></span></button>

            </div>

<!-- --------------------------------------------------------------- -->

            <div class="tab-pane" id="tab_permissions">
                
                <h2>[[ 'ADMIN_PERMISSIONS_TAB' | translate]]</h2>

                <div class="alert alert-dismissible" role="alert" id="permissions_alert">
                    <button type="button" class="close" data-hide="alert"><span aria-hidden="true">&times;</span><span class="sr-only">[[ 'CLOSE' | translate]]</span></button>
                    <span class="alert_content"></span>
                </div>
                
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#membership" role="tab" data-toggle="tab">[[ 'ADMIN_MEMBERSHIP_TAB' | translate ]]</a></li>
                    <li><a href="#classification" role="tab" data-toggle="tab">[[ 'ADMIN_CLASSIFICATION_TAB' | translate ]]</a></li>
                    <li><a href="#permissions" role="tab" data-toggle="tab">[[ 'ADMIN_PERMISSIONS_TAB' | translate ]]</a></li>
                </ul>
                
                <div class="tab-content">
                    
                    <!-- ------------------------------------------- -->
                    
                    <div class="tab-pane active" id="membership">
                        <select id="membership_ref" data-tab-id="membership" role="select_ref" class="form-control">
                            {{range .Groups}}
                            <option value="{{ .id }}">{{ .title }}</option>
                            {{end}}
                        </select>
                        
                        <div id="membership_iter">
                            {{range .Users}}
                            <div class="checkbox">
                                <label><input type="checkbox" data-tab-id="membership" value="{{ .id }}">{{ .login }}</label>
                            </div>
                            {{end}}
                        </div>
                        
                        <script>
                            var membership = { {{range $group, $users := .Membership}}
                                    {{ $group }}: [{{range $users}}{{ . }},{{end}}],
                                {{end}} };
                        </script>
                    </div>
                    
                    <!-- ------------------------------------------- -->
                    
                    <div class="tab-pane" id="classification">
                        <select id="classification_ref" data-tab-id="classification" role="select_ref" class="form-control">
                            {{range .VideoGroups}}
                            <option value="{{ .id }}">{{ .title }}</option>
                            {{end}}
                        </select>
                        
                        <div id="classification_iter">
                            {{range .Videos}}
                            <div class="checkbox">
                                <label><input type="checkbox" data-tab-id="classification" value="{{ .id }}">{{ .title }}</label>
                            </div>
                            {{end}}
                        </div>
                        
                        <script>
                            var classification = { {{range $group, $videos := .Classification}}
                                    {{ $group }}: [{{range $videos}}{{ . }},{{end}}],
                                {{end}} };
                        </script>
                    </div>
                    
                    <!-- ------------------------------------------- -->
                    
                    <div class="tab-pane" id="permissions">
                        <select id="permissions_ref" data-tab-id="permissions" role="select_ref" class="form-control">
                            {{range .Groups}}
                            <option value="{{ .id }}">{{ .title }}</option>
                            {{end}}
                        </select>
                        
                        <div id="permissions_iter">
                            {{range .VideoGroups}}
                            <div class="checkbox">
                                <label><input type="checkbox" data-tab-id="permissions" value="{{ .id }}">{{ .title }}</label>
                            </div>
                            {{end}}
                        </div>
                        
                        <script>
                            var permissions = { {{range $group, $video_groups := .Permissions}}
                                    {{ $group }}: [{{range $video_groups}}{{ . }},{{end}}],
                                {{end}} };
                            var json_values = {"permissions": permissions, "classification": classification, "membership": membership};
                        </script>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{{end}}   


{{define "js"}}
<script src="/static/js/admin.js"></script>
{{end}}
