<<<define "title">>>Administration<<<end>>>

<<<define "body">>>
    <h1>Administration</h1>
    
    <div class="container" ng-app="admin_app" ng-controller="admin_controller">
        
        <ul class="nav nav-pills nav-stacked col-md-2">
            <li ng-repeat="section in sections">
                <a href="#tab_{{section.id}}" data-toggle="pill">{{section.name}}</a>
            </li>
        </ul>
        
        
        <div class="tab-content col-md-10">

            <div class="tab-pane" ng-repeat="section in sections" id="tab_{{section.id}}">
                
                <h2>{{section.name}}</h2>

                <div class="alert alert-dismissible" role="alert" id="{{section.id}}_alert">
                    <button type="button" class="close" data-hide="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <span class="alert_content"></span>
                </div>

                <table class="table" data-table="{{section.id}}">
                    <thead>
                        <tr>
                            <th ng-repeat="column in section.columns">{{column}}</th>
                            <th/>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="object in section.objects">
                            <td ng-repeat="property in object">{{property}}</td>
                            <td>
                                <button type="submit" class="save_row btn-link" data-table="{{section.id}}" data-id="{{object.id}}">
                                    <span class="glyphicon glyphicon-ok-sign"></span>
                                </button>
                                <button type="submit" class="del_row btn-link" data-table="{{section.id}}" data-id="{{object.id}}">
                                    <span class="glyphicon glyphicon-minus-sign"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="add_row btn-link" data-table="{{section}}"><span class="glyphicon glyphicon-plus-sign"></span></button>

            </div>
            
        </div>
    </div>
<<<end>>> 


<<<define "js">>>
<script src="../static/js/angular.min.js"></script>
<script src="../static/js/admin_ang.js"></script>
<<<end>>>
