{{define "base"}}
<!DOCTYPE html>
<html lang="fr" ng-app="gomet">
    <head>
        <meta charset="utf-8" />
        <meta name="author" content="Julien CHAUMONT" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/ui-grid.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>{{template "title" .}}</title>
    </head>
    <body>
        {{template "menu" .}}
        {{template "body" .}}
        <script src="/static/js/jquery-2.1.1.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/bootbox.min.js"></script>
        <script src="/static/js/angular.js"></script>
        <script src="/static/js/angular-ui-router.js"></script>
        <script src="/static/js/ui-grid.js"></script>
        <script>
            var app = angular.module('gomet', ['ui.router', 'ui.grid', 'ui.grid.resizeColumns', 'ui.grid.autoResize']);
            bootbox.setDefaults({ locale: "fr" });
        </script>
        {{template "js" .}}
    </body>
</html>
{{end}}

{{define "menu"}}
<nav>
    <a href="/about">A propos</a>
    <a href="/videos">Vidéos</a>
    <a href="/admin">Administration</a>
    <a href="/signout">Déconnexion</a>
</nav>
{{end}}
