{{define "base"}}<!DOCTYPE html>
<html lang="fr" ng-app="heygo">
    <head>
        <meta charset="utf-8" />
        <meta name="author" content="Julien CHAUMONT" />
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="/static/bower/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/static/bower/angular-ui-grid/ui-grid.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>{{template "title" .}}</title>
    </head>
    <body>

        <div class="wrapper">
        {{template "menu" .}}


            {{template "body" .}}
            <div class="push"></div>
        </div>

        {{template "footer" .}}

        <script src="/static/bower/jquery/dist/jquery.js"></script>
        <script src="/static/bower/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/static/bower/bootbox/bootbox.js"></script>
        <script src="/static/bower/angular/angular.js"></script>
        <script src="/static/bower/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/static/bower/angular-ui-grid/ui-grid.js"></script>
        <script src="/static/bower/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
        {{ if eq .ViewName "videos" }}
        <script src="/static/bower/angular-sanitize/angular-sanitize.js"></script>
        <script src="/static/bower/videogular/videogular.js"></script>
        <script src="/static/bower/videogular-overlay-play/overlay-play.js"></script>
        <script src="/static/bower/videogular-buffering/buffering.js"></script>
        <script src="/static/bower/videogular-controls/controls.js"></script>
        {{ end }}
        <script>
            var app = angular.module('heygo', ['ui.bootstrap', 'ui.router', 'ui.grid', 'ui.grid.resizeColumns', 'ui.grid.autoResize',
            {{ if eq .ViewName "videos" }}
                                               'ngSanitize', 'com.2fdevs.videogular', 'com.2fdevs.videogular.plugins.overlayplay',
                                               'com.2fdevs.videogular.plugins.buffering', 'com.2fdevs.videogular.plugins.controls'
            {{ end }}
                                               ]);
            bootbox.setDefaults({ locale: "fr" });

            var set_active_menu = (function() {
                var menu_id = $(location).attr('pathname').split("/").pop();
                if ($("#menu_" + menu_id).length == 1)
                    $("#menu_" + menu_id).parent().addClass("active");
            })();
        </script>
        {{template "js" .}}
    </body>
</html>
{{end}}

{{define "menu"}}
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse_menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" id="logo" href="/"><img alt="HEYGO" src="/static/images/logo_white_beta.png"></a>
        </div>

        <div class="collapse navbar-collapse" id="collapse_menu">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/about" id="menu_about">A propos</a></li>
                {{ if .IsUserAuthenticated }}
                <li><a href="/videos" id="menu_videos">Vidéos</a></li>
                {{ end }}
            </ul>
            {{ if .IsUserAuthenticated }}
            <ul class="nav navbar-nav navbar-right">
                {{ if .IsUserAdmin }}
                <li><a href="/admin" id="menu_admin">Administration</a></li>
                {{ end }}
                <li><a href="/signout" id="menu_signout"><span class="glyphicon glyphicon-off"></span></a></li>
            </ul>
            {{ end }}
        </div>
    </div>
</nav>
{{end}}

{{define "footer"}}
<footer class="navbar-inverse">
    HEYGO est un projet <a href="https://github.com/julienc91/heygo" class="navbar-link">open-source</a>
</footer>
{{end}}
