{{define "title"}}Vidéos{{end}}
{{define "body"}}
    <div class="page-header">
        <h1>Vidéos</h1>
    </div>

    <div id="alert_box" class="alert alert-danger alert-dismissible" role="alert" style="display: none;">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
        <span class="alert_content"></span>
    </div>

    <div ui-view></div>
{{end}}

{{define "js"}}
<script src="/static/js/videos.js"></script>
{{end}}
